height = 20px

#navbar
    background $li-red

    .navbar-brand,
    .navbar-text,
    .navbar-link
        color #EEE

    .navbar-link
        font-weight bold
        cursor pointer

    .navbar-brand > span
            line-height height
            vertical-align middle

    .li-brand-logo
        display inline-block
        height height
        width height
        background url("../images/lifeinvader-logo.png")
        background-size contain
